/* GENERAL */

body {
  padding-bottom: 3rem;
}

.navbar {
  margin-bottom: 3rem;
}

.navbar-link.active {
  pointer-events: none;
}

.navbar-link .title {
  display: inline-block;
  margin-bottom: 0;
  line-height: 6.5rem;
}

.flex.row {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.flex.row .column {
  width: auto;
}

button.xs {
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
}

button.sm {
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}

/* button.button-primary {
  background-color: #4156A6;
  border-color: #4156A6;
}

button.button-primary:hover {
  background-color: #859AEA;
  border-color: #859AEA;
}

a,
.navbar-link.active {
  color: #4156A6;
}

a:hover,
.navbar-link.active:hover {
  color: #859AEA;
} */

/* button.button-primary {
  background-color: #B40055;
  border-color: #B40055;
}

button.button-primary:hover {
  background-color: #AA004B;
  border-color: #AA004B;
}

a,
.navbar-link.active {
  color: #B40055;
}

a:hover,
.navbar-link.active:hover {
  color: #AA004B;
} */

button.button-primary {
  background-color: #794387;
  border-color: #794387;
}

button.button-primary:hover,
button.button-primary:focus {
  background-color: #6A2A6E;
  border-color: #6A2A6E;
}

a,
.navbar-link.active {
  color: #794387;
}

a:hover,
.navbar-link.active:hover {
  color: #6A2A6E;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #794387;
}


/* SPECIFIC */

#src {
  width: calc(100% - 140px);
}

.devices {
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.devices .column {
  margin-bottom: 2.5rem;
}

.devices h6 small {
  display: inline-block;
  margin-left: 1em;
}

.custom.device-column {
  width: auto;
}

.custom.device.column p {
  margin-left: 0;
  text-align: center;
  max-width: 320px;
}

.custom.device.column p input {
  display: inline-block;
  width: calc(50% - 2ex);
  margin-left: 1ex;
}

.custom.device.column p input:first-child {
  margin-left: 0;
  margin-right: 1ex;
}

button.rotate {
  float: right;
  font-weight: bold;
  font-size: 1.25rem;
}

#compare {
  display: none;
}
