/* GENERAL */

body {
  padding-bottom: 3rem;
}

.navbar {
  margin-bottom: 3rem;
}

.navbar-link.active {
  pointer-events: none;
}

.navbar-link .title {
  display: inline-block;
  margin-bottom: 0;
  line-height: 6.5rem;
}

.flex.row {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.flex.row .column {
  width: auto;
}

button.xs {
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
}

button.sm {
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}

/* SPECIFIC */

#src {
  width: calc(100% - 140px);
}

.devices {
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.devices .column {
  margin-bottom: 2.5rem;
}

.devices h6 small {
  display: inline-block;
  margin-left: 1em;
}

.custom.device-column {
  width: auto;
}

.custom.device.column p {
  margin-left: 0;
  text-align: center;
  max-width: 320px;
}

.custom.device.column p input {
  display: inline-block;
  width: calc(50% - 2ex);
  margin-left: 1ex;
}

.custom.device.column p input:first-child {
  margin-left: 0;
  margin-right: 1ex;
}

button.rotate {
  float: right;
  font-weight: bold;
  font-size: 1.25rem;
}

#compare {
  display: none;
}
